body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:cadetblue;
}

a:link
,a:visited
,a:active{
    text-decoration: none;
    color: black;
}

a:hover{
    color: blueviolet;
}

button{
    background-color: cornflowerblue;
    border: 0;
}

/* button shadow idea from w3schools https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_shadow */
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    cursor: pointer;
}

button:active{
    box-shadow: none;
}

img{
    width: 100%;
    border-radius: 8px;
}

.container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-areas: 
    "hd1 hd1 hd2 hd2 hd2 hd2 hd2"
    "main main main main main main main"
    "ft ft ft ft ft ft ft";
}

.box{
    border: 2px solid black;
}

.header1{
    height: 80px;
    padding-top: 20px;
    grid-area: hd1;
    display: flex;
    justify-content: space-evenly;
}

.header2{
    grid-area: hd2;
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.footer{
    grid-area: ft;
}

.content{
    grid-area:main;
    padding: 50px;
    display: grid;
    justify-content: space-around;
    grid-template-areas: 
    "n1 n2 n3"
    "n4 n5 n6";
}

    .newsbox{
        padding: 10px;
        text-align: center;
        background-color: darkcyan;
        width: 200px;
        height: 250px;
        border-radius: 9px;
        margin-bottom: 40px;
    }

    #news1{
        grid-area: n1;
    }
    #news2{
        grid-area: n2;
    }
    #news3{
        grid-area: n3;
    }    
    #news4{
        grid-area: n4;
    }    
    #news5{
        grid-area: n5;
    }    
    #news6{
        grid-area: n6;
    } 

#date{
    opacity: 50%;
    text-align: right;
}
#toobig{
    font-size: small;
}

#main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

@media(max-width:480px){
    .container{
        grid-template-columns: auto;
        grid-template-areas: 
        "hd1 hd1"
        "hd2 hd2"
        "main main"
        "ft ft";
    }
    .content{
        grid-area:main;
        padding: 50px;
        display: grid;
        justify-content: space-around;
        grid-template-areas: 
        "n1 n2"
        "n3 n4"
        "n5 n6";
    }

    .header2{
        padding-top: 0;
        flex-direction: column;
        align-items: center;
        line-height: 30px;
    }

    .newsbox{
        width: 84%;
    }

    #main{
        width: 101px;
        font-size: x-large;
    }    
}

@media (min-width:481px) and (max-width:768px){
    .container{
        grid-template-columns: 400px;
        grid-template-areas: 
        "hd1 hd1"
        "hd2 hd2"
        "main main"
        "ft ft";
    }
}
